@import './../../../styles/variables.scss';


.header {
    background:#fff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 99999;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(68,102,242,.05);
    .container {
        height: 64px;
        display: flex;
        font-family: 'Roboto Slab', serif;
        justify-content: space-between;
        align-items: center;
    }
    .left {
        .logo {
            max-width: 150px;
        }
    }
    .right {
        display: flex;
        align-items: center;
        .wishlist {
            margin-right:12px;
            position: relative;
            svg {
                font-size:16px;
            }
            .wishlist-count {
                position: absolute;
                top:0;
                right:-7px;
                background: $secondary-color;
                width:15px;
                height:15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $secondary-font;
                font-size:10px;
                color:#fff;
                pointer-events: none;
            }
        }
        .orders {
            position: relative;
            svg {
                font-size:18px;
            }
            .orders-count {
                position: absolute;
                top:0;
                right:-7px;
                background: $secondary-color;
                width:15px;
                height:15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $secondary-font;
                font-size:10px;
                color:#fff;
            }
        }
        .user-login {
            margin-left: 15px;
            color:#fff;
            .user-name {
                font-family: $secondary-font;
                font-size:10px;
            }
            a {
                color:#fff;
                text-decoration: none;
            }
            .user-button {
                cursor: pointer;
                font-family: $secondary-font;
                background:$secondary-color;
                padding:10px 20px;
                border-radius: 4px;
                color:'#fff' !important;
                font-size: 15px;
            }
        }
        
    }
}