@import './../../../styles/variables.scss';


.header {
    background:#fff;
    .container {
        height: 64px;
        display: flex;
        font-family: 'Roboto Slab', serif;
        justify-content: space-between;
        align-items: center;
    }
    .left {
        span {
            font-size:30px;
        }
    }
    .right {
        display: flex;
        align-items: center;
        .wishlist {
            margin-right:12px;
            position: relative;
            svg {
                font-size:16px;
            }
            .wishlist-count {
                position: absolute;
                top:0;
                right:-7px;
                background: $secondary-color;
                width:15px;
                height:15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $secondary-font;
                font-size:10px;
                color:#fff;
            }
        }
        .orders {
            position: relative;
            svg {
                font-size:18px;
            }
            .orders-count {
                position: absolute;
                top:0;
                right:-7px;
                background: $secondary-color;
                width:15px;
                height:15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $secondary-font;
                font-size:10px;
                color:#fff;
            }
        }
        .user-login {
            margin-left: 15px;
            .user-name {
                font-family: $secondary-font;
                font-size:10px;
            }
            .user-button {
                cursor: pointer;
                font-family: $secondary-font;
            }
        }
        
    }
}