$primary-color: #f8f9fa;
$secondary-color:#39A7AB;
$primary-font: 'PT Sans', sans-serif;

body {
    padding:0;
    margin:0;
    font-family: $primary-font;
    font-weight: 300;
    width:100%;
    overflow-x:hidden;
    overflow-y: scroll;
    background:$primary-color;
}

.container {
    max-width: 1280px;
    margin:0 auto;
    @media (max-width:1320px) {
        padding:0 15px;
    }
}

.quicklinks {
    text-align: center;
    margin-bottom:30px;
    ul {
        display: flex;
        flex-wrap: wrap;
        padding-top:10px;
        justify-content: center;
    }
    li {
        padding:5px 10px;
        border:1px solid #efefef;
        margin:4px 5px;
    }
}
