@import './variables.scss';

$primary-color: rgb(247,249,252);
$secondary-color:#00807d;
$primary-font: 'Roboto', sans-serif;

body {
    padding:0;
    margin:0;
    font-family: $primary-font;
    font-weight: 300;
    width:100%;
    overflow-x:hidden;
    overflow-y: scroll;
    background:$primary-color;
}

.container {
    max-width: 100%;
}

.quicklinks {
    text-align: center;
    margin-bottom:30px;
    ul {
        display: flex;
        flex-wrap: wrap;
        padding-top:10px;
        justify-content: center;
    }
    li {
        padding:5px 10px;
        border:1px solid #efefef;
        margin:4px 5px;
    }
}

.AppWrapper {
    display: flex;
    height: auto;
    min-height: 100vh;
    position: relative;
    padding-top:64px;
    padding-left:264px;
}

.MainSidebar {
    min-width: 264px;
    background: #3ab3a8;
    background: linear-gradient(to bottom, #3ab3a8 0, #37a0ac 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ab3a8', endColorstr='#37a0ac', GradientType=0);
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    padding-top:64px;
    ul {
        width: 100%;
        padding:30px;
        padding-top:20px;
        .listIcon {
            margin-right:8px;
        }
        a{
            color:#fff;
            text-transform: capitalize !important;
            padding: 12px;
            display:block;
            text-decoration: none;
            border-radius: 2px;
            transition: 0.3s;
            position: relative;
            outline: none;
            &:hover {
                background:$secondary-color;
            }
            &:after {
                display: inline-block;
                width: 0;
                height: 0;
                position: absolute;
                right: 10px;
                top:18px;
                transform:rotate(-90deg);
                vertical-align: 0.255em;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }
        }
    }
}

.MainContent {
    width: 100%;
}


// RESET STRAP

.list-group-item {
    padding: 1.1rem 1.25rem;
    border: 0.5px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      display: flex;
      align-items: center;
    }
    span.badge {
      background:$secondary-color;
      border-radius: 50%;
      color:#fff;
      width:20px;
      height:20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right:10px;
      font-size:11px;
    }
    &:hover{
        background-color: #f6f7fb;
    }
}

//Card css
.card{
    margin-bottom: $card-margin-bottom;
    border: $card-border-width;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: $card-border-radious;
    box-shadow: $card-box-shadow;
    .card-header{
      background-color:  $card-header-bg-color;
      border-bottom: none;
      padding: $card-padding;
      border-bottom: 1px solid $card-border-color;
      border-top-left-radius: $card-border-radious;
      border-top-right-radius: $card-border-radious;
      h5{
        font-size:$card-header-font-size;
        margin-bottom: 0;
        text-transform: $card-header-font-transform;
        font-weight: 400;
        font-family: "Work sans", sans-serif;
      }
      > span{
        font-size: $card-header-span-size;
        color: $card-header-span-color;
        margin-top: 5px;
        display: block;
        letter-spacing: 1px;
      }
    }
    .card-body{
      padding: $card-padding;
      background-color: $card-body-bg-color;
      p{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .sub-title{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 5px;
      margin-bottom: 8px;
      font-size: 18px;
    }
    .card-footer{
      background-color: $card-footer-bg-color;
      border-top: 1px solid $card-border-color;
      padding: $card-padding;
      border-bottom-left-radius: $card-border-radious;
      border-bottom-right-radius: $card-border-radious;
    }
}

// Alerts

div.fade.alert {
  z-index: 99999999 !important;
}
  