@import './../../../styles/variables.scss';

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
        width:48%;
        margin-bottom:25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &.card-cover {
            &:before {
                content:'Cover';
                width:100%;
                height:100%;
                position: absolute;
                left:0;
                right:0;
                z-index: 1;
                background:rgba($secondary-color, 0.4);
                color:#fff;
                display: flex;
                font-size:18px;
                font-family: $secondary-font;
                font-weight: 100;
                align-items: center;
                justify-content: center;
            }
        }
    }
    Button.card-close {
        width:30px;
        height:30px;
        border-radius:0;
        position: absolute;
        top:0;
        right:0;
        padding:0;
        font-size:14px;
        z-index: 2;
    }
}

// variations
.variation-list {
    padding:0;
    li {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin:0 0 10px;
        input {
            margin-right: 8px;
        }
        svg {
            cursor: pointer;
        }
    }
}

// Price Settings
.each-variation {
    li {
        list-style-type: none;
        border:1px solid #efefef;
        flex:1;
        &:not(:last-child) {
            border-right:0;
        }
    }
    .each-variation-table-items {
        display: flex;
    }
}

// container
.add-entry-products-container {
    .btn-primary {
        background:$secondary-color;
        border:1px solid $secondary-color;
        display: flex;
        align-items:center;
        justify-content: center;
        width:100%;
        &:focus {
            border:0;
            outline:0;
        }
    }
    .variation-title,
    .option-title,
    .price-title {
        @include font-size(15px, 16px, 500px, 1280px);
        font-family: $secondary-font;
        margin-bottom:8px;
    }
    .option-title,
    .price-title {
        margin-top: 10px;
    }
    // set price
    .each-variation {
        margin-bottom:15px;
    }
    .each-variation-title {
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
    }
    .each-variation-table-items {
        li {
            padding:6px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    .btn-product-save {
        border-color:#f53d2d;
        background:#f53d2d;
    }
}

// form
.add-entry-form {
    @include font-size(15px, 16px, 500px, 1280px);
    font-family: $secondary-font;
    .form-control {
        @include font-size(15px, 16px, 500px, 1280px);
    }
    .form-label {
        margin-bottom:6px;
        font-family: $secondary-font;
    }
}
