.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
        width:48%;
        margin-bottom:25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.variation-list {
    padding:0;
    li {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin:0 0 10px;
        input {
            margin-right: 8px;
        }
        svg {
            cursor: pointer;
        }
    }
}

// Price Settings
.each-variation {
    li {
        list-style-type: none;
        border:1px solid #efefef;
        flex:1;
        &:not(:last-child) {
            border-right:0;
        }
    }
    .each-variation-table-items {
        display: flex;
    }
}