$primary-color: #F6F8FA;
$secondary-color:#39A7AB;
$primary-font: 'PT Sans', sans-serif;
$secondary-font:'Roboto', sans-serif;

.home-filter {
    border-bottom:1px solid #efefef;
    padding:20px;
    display: flex;
    justify-content: center;
    @media (max-width:767px) {
        font-size:14px;
    }
    li {
        margin:0 10px;
    }
}

.home-filter-categories {
    display: flex;
    max-width: 900px;
    margin:20px auto;
    justify-content: center;
    li {
        color: #333;
        text-transform: uppercase;
        font-size:18px;
        font-family: $secondary-font;
        font-weight: 300;
        @media (max-width:767px) {
            font-size:14px;
        }
        &:focus {
            color:$secondary-color;
        }
        &:not(:last-child) {
            margin-right:20px;
        }
    }

    .loader-spin {
        margin:0 auto;
    }
}

.product-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:0 auto 40px;
    padding:0 15px;
    width:100%;
    .card {
        width: calc(25% - 15px);
        margin-bottom:25px;
        background:#fff;
        display: block;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        border:0;
        box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.02);
        @media (max-width:1199px) {
            width:calc(33.3% - 10px);
            margin-bottom: 15px;
        }
        @media (max-width:991px) {
            width:calc(50% - 10px);
            margin-bottom: 15px;
        }
        &:last-child {
            background:transparent;
            box-shadow: none;
        }
    }
    .card-wrapper {
        padding:0;
    }
    .card-img {
        width:100%;
        border-radius: 0;
    }
    .card-body {
        padding:15px 50px 15px 15px;
    }
    .card-price {
        font-weight: 400;
        font-family: $primary-font;
        font-size:15px;
        margin-bottom: 5px;
        color:$secondary-color;
        @media (max-width:767px) {
            font-size:14px;
        }
    }
    .card-title {
        color:#666;
        font-family: $secondary-font;
        font-size:14px;
        font-weight: 300;
        margin:0;
        @media (max-width:767px) {
            font-size:12px;
        }
    }
    .card-cart {
        position: absolute;
        bottom:0;
        right:0;
        width:45px;
        height:60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ion-icon {
        font-size:20px;
        color:$secondary-color;
    }
}